body{
    align-items: center;
    justify-content: center;
    display: flex;
height: 100vh;}
.container{
    text-align: center;
    justify-content: center;
}
#count{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}
.button-container{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 50px;
    border: none;
    font-size: larger;
    color: #f0f0f0;
    
}

.button-container  button{
    border: none;
    width: 25%;
    border-radius: 10px;
    background: #0056b3;
    color: #f0f0f0;
    font-weight: 700;

}
#clickButton:hover {
     background: #0056b3;
}
