body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f6f8;
}

.container {
  background: #ffffff;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.527);
}

.input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input label{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    color: rgba(128, 0, 128, 0.534);
}

#textarea{
    padding: 20px;
    width: 89%;
    height: 20vh;
    outline: none;
    border-left:rgba(128, 0, 128, 0.534) 4px solid;
    border-radius: 15px;
    resize: none;
}
#character{
    padding-top: 20px;
    font-weight: 600;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
    color: rgba(128, 0, 128, 0.534);
}