body{
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background: #f0f0f0;
}
.container{
    justify-content: center;
    gap: 20px;
    margin: auto;
    text-align: center;
}

#count{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

#clickButton{
    width: 40vw;
    height: 50px;
    border: none;
    background: gray;
    border-radius: 15px;
    font-size: larger;
    color: #f0f0f0;
    
}
#clickButton:hover {
    background: #0056b3;
}